<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bienvenidos a mi Blog </h1>
    <p>Autor: <%= autor %></p>
  </body>
</html>
